[submodule "Bang/vendor/spdlog"]
	path = Bang/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Bang/vendor/GLFW"]
	path = Bang/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
[submodule "Bang/vendor/imgui"]
	path = Bang/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
